/* Tổng thể cho modal */
.variant-modal {
  background: #fff;
  border: 1px solid #dddd;
  padding: 20px;
  width: 400px;
  text-align: left;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

/* Header */
.variant-header h4 {

  font-size: 16px;
  color: #9b9b9b;
  margin-bottom: 10px;
}

/* Danh sách tùy chọn */
.variant-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
  margin-top: 10px;
}

/* Nút tùy chọn */
.variant-button {
  padding: 8px 12px;
  border: 1px solid #e6e5e5cc;
  background: #f9f9f9;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  transition: all 0.3s ease;
  position: relative;
}

.variant-button:hover {
  border-color: red;
  color: red;
}

.variant-button.selected {
  border-color: red;
  color: red;
}

.variant-button.selected::after {
  content: "✔"; 
  position: absolute;
  right: 2px; 
  top: 80%;
  transform: translateY(-50%);
  color: red; /* Cùng màu chữ */
  font-size: 14px; /* Kích thước dấu tích */
}

.variant-button.disabled {
  background: #f0f0f0;
  color: #999;
  cursor: not-allowed;
}

.variant-button.disabled:hover {
  border-color: #f0f0f0;
}

/* Footer */
.variant-footer {
  justify-content: space-between;
  margin-top: 15px;
  text-align: right;
}

.back-button,
.confirm-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.back-button {
  background: #f0f0f0;
  color: #333;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background: #e0e0e0;
}

/* .confirm-button {
  background: yellow;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.confirm-button:hover {
  background: darkred;
} */

.confirm-button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
